@model Unblock_Me.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockedLicencePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockedLicencePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockedByLicencePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockedByLicencePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LicencePlate">Edit</a> |
    <a asp-action="Index">Back to all cars</a>
</div>
