@model Car 
@{
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h1>You have been blocked by the following car:</h1>
<table>
    <tr>
        <th>Licence Plate</th>
        <th>Maker</th>
        <th>Model</th>
        <th>OwnerId</th>
        <th>Colour</th>
        <th>BlockedBy_LicencePlate</th>
        <th>Blocked_LicencePlate</th>
        <th>Owner ID</th>
    </tr>
    <tr>
        <th>@Model.LicencePlate</th>
        <th>@Model.Maker</th>
        <th>@Model.Model</th>
        <th>@Model.OwnerId</th>
        <th>@Model.Colour</th>
        <th>@Model.BlockedByLicencePlate</th>
        <th>@Model.BlockedLicencePlate</th>
        <th><a asp-controller="Home" asp-action="User" asp-route-id="@Model.OwnerId">@Model.OwnerId</a></th>
    </tr>
</table>
